@use './fonts.scss' as *;
@use '../shared/_tokens.scss' as tokens;

:root {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  @include tokens.spacing-vars;
  @include tokens.layout-vars;
  @include tokens.color-vars;
  @include tokens.border-vars;
}

:root[data-theme='dark'] {
  @include tokens.dark-color-vars;
}

html,
body {
  background: var(--neutral-100);
  color: var(--neutral-500);
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

a,
button,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: var(--space-50);
  margin-bottom: var(--space-50);
}

p,
span {
  font-weight: 500;
}

p {
  max-width: 37rem;
  line-height: 1.25;
}

@include tokens.page-layout;

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  color: var(--main-600);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: var(--main-500);
  }
}
