.skills-list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  gap: var(--space-50);
  flex-wrap: wrap;

  &__item {
    background: var(--main-200);
    color: var(--main-600);
    padding: var(--space-25) var(--space-50);
    border-radius: 2rem;
    font-size: .75em;
    line-height: 1;
  }
}
