@use '../../shared/_tokens.scss' as tokens;

.home-layout {
  padding-block-start: var(--space-100);
}

.card {
  padding: var(--space-100);
  border: .125rem solid var(--neutral-200);
  border-radius: var(--radius-200);
  background: var(--elevation-100);
}

.work-experience {
  position: relative;
  margin-block-end: var(--space-150);

  &:last-child::after {
    inset-block-end: 0;
  }

  &__role {
    display: flex;
    gap: var(--space-100);
    justify-content: space-between;
    flex-wrap: wrap;
    margin-block-end: var(--space-100);
  }

  &__role-info {
    min-width: 12.5rem;
  }

  &__role-description {
    p {
      margin-block-start: 0;
    }
  }

  &__company {
    margin: 0;
    color: var(--static-black);
  }

  &__logo-wrapper {
    display: inline-flex;
    flex-direction: row;
    gap: var(--space-50);
    padding-block: var(--space-75);
    margin-block-end: var(--space-75);
    background: var(--neutral-100);
    align-items: center;
    width: 100%;
    border-top: 0.0625rem solid var(--neutral-200);
    border-bottom: 0.0625rem solid var(--neutral-200);
  }

  &__logo {
    width: 100%;
    max-width: 3.5rem;
  }

  &__text {
    margin-block-start: 0;
    margin-block-end: var(--space-25);
  }

  &__text--secondary {
    color: var(--neutral-400);
    font-size: .75em;
  }

  &__text--tertiary {
    color: var(--neutral-500);
    font-size: .875em;
  }
}

.skills {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  gap: var(--space-50);
  flex-wrap: wrap;

  &__item {
    background: var(--main-200);
    color: var(--main-600);
    padding: var(--space-25) var(--space-50);
    border-radius: 2rem;
    font-size: .75em;
  }
}

:root[data-theme='dark'] {
  .work-experience__logo-wrapper {
    background: var(--static-white);
    padding: var(--space-75);
    border-radius: var(--radius-200);
  }
}